/ASkyBlock_*
/ASkyBlock
/crash-reports
/logs
/world
/world_*
/*.json
/*.bat
/*.sh
/*.jar
/plugins/*.jar
/plugins/DiscordSRV/config.yml
/plugins/MVdWPlaceholderAPI/placeholders
/plugins/MVdWPlugin
/*.log